<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DisableBloom>true</DisableBloom>
  <DrunkenSleeping>true</DrunkenSleeping>
  <FastItemSpawn>true</FastItemSpawn>
  <DisableDirt>true</DisableDirt>
  <AllNightMarkets>true</AllNightMarkets>
</Settings>